* {
  font-family: "Fira Code";
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  margin: 0;
}

header {
  height: 100px;
  font-size: 2rem;
  color: #fefae0;
  background-color: #264653;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wiegand-format-container,
.card-data-container,
.wiegand-binary-container,
.export-formats-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.export-formats-container {
  height: auto;
  flex-direction: column;
}

.facility-code-container input:valid,
.card-number-container input:valid {
  color: green;
}

.facility-code-container input:invalid,
.card-number-container input:invalid {
  color: red;
}

.hide {
  display: none;
}